#map {
  height: 100vh;
  width: calc(100% - 320px);
}

.sidebar-mobile-control {
  display: none;
}

.sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  background: #ddeee4;
  color: #223151;
  box-shadow: 0 0 5px #000;
  height: 100vh;
  padding: 0px 0px 10px 0px;
  overflow: auto;
}

.sidebar-top {
  position: absolute;
  background: #fff;
  z-index: 99;
  width: 100%;
  top: 0;
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  #map {
    width: 100%;
  }
  .sidebar {
    display: none;
    padding-bottom: 50px;
  }
  .sidebar.active {
    display: block;
  }
  .sidebar-mobile-control {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #55b681;
    text-align: center;
    padding: 5px 0;
    z-index: 1000000;
  }
  .sidebar-mobile-control button {
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #035c2a;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 500;
  }
}
