#map {
  height: 100vh;
  width: calc(100% - 320px);
}

.sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  background: #ddeee4;
  color: #223151;
  box-shadow: 0 0 5px #000;
  height: 100vh;
  padding: 0px 0px 10px 0px;
  overflow: auto;
}

.sidebar-top {
  position: absolute;
  background: #fff;
  z-index: 99;
  width: 100%;
  top: 0;
  padding-top: 5px;
}
